.wrapper{
	max-width: 1200px;
	margin: 0 auto;
}
.flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.flex-1{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-between;
}
.grid-2{
	display: grid;
	grid-template-columns: 3fr 2fr 2.5fr 1fr;
	justify-content: space-between;

}
.grid-3{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
/*.......................header..................................*/
.contact-header, .gallery-header{
	background-image: url("https://demo.w3layouts.com/demos_new/template_demo/27-05-2019/cargoes-demo_Free/1868094496/web/images/b6.jpg");
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 1.5rem;
	padding-bottom: 10rem;
}
.contact-header-h2{
	font-family: 'Fira Sans', sans-serif;
	font-size: 2.2rem;
	line-height: 2rem;
	color: white;
	margin-left: 1.5rem;
}
.contact-header-nav{
	padding-top: 0.5rem;
	margin-left: 12rem;
}
.contact-header-nav a{
	margin-left: 1.5rem;
	text-decoration: none;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
}
.contact-header-nav li{
	list-style: none;
}
/*........................dropdown.................................*/
.drop-link {

  position: relative;

}

.drop-box {
  position: absolute;
  /*left: 50%;*/
  /*transform: translateX(50%);*/
  z-index: 1;
  margin-left: 2rem;
}

.drop-menu {

  background:#ffffff;

  border-radius: 0.5rem;

  text-align: left;

  width: 8rem;

  display: none;

}

.drop-menu li {

  display: block;

  margin: 0;

}

.drop-menu li a {

  display: block;

  background: none;

  padding: 0.5rem 0;
  padding-left: 2rem;

  margin: 0.9rem 0;

  color: black;

  font-family: 'Source Sans Pro', sans-serif;

}

.drop-link:hover .drop-menu {
	display: block;
}

.drop-menu li a:hover {
  background: none;
  color: #FF4C4C;
  background: #F8F9FA;
  border-radius: 0.5rem;
}

/*.................................................contact-hero........................*/
.contact-hero, .gallery-hero{
	padding:1.5rem 0;
	background-color: #EAEAEA;
	padding-left: 2rem;
	font-family: 'Source Sans Pro', sans-serif;
}
.contact-hero a{
	text-decoration: none;
	color: #07125f;
	font-weight: 600;
	font-size: 1rem;
}
.contact-hero , .gallery-hero h2{
	color: #000000;
	font-size: 1rem;
	padding-top: 0.06rem;
	margin-left: 0.3rem;
}

/*..........................................contact-details.................................*/
.contact-details h2, .gallery-section h2, .blog-section h2{
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	font-size: 1.4rem;
	color: #a0a0a0;
	font-weight: 500;
	line-height: 1.5625rem;
	padding-top: 3rem;
}
.contact-details h3, .gallery-section h3, .blog-section h3{
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	font-size: 1.75rem;
	line-height: 2.3rem;
	font-weight: 700;
	color: black;
	padding-bottom: 3rem;
	padding-top: 1rem;
}
.name input{
	height: 2.5rem;
	width: 95%;
	border:none;
	box-shadow: 1px 1px 2px 2px grey;
	background-color: #FBFBFB;
	font-size: 0.8rem;
	font-family: 'Source Sans Pro', sans-serif;
	padding-left: 1rem;
	letter-spacing: 0.25rem;
}
.email input{
	margin-top: 1rem;
	height: 2.5rem;
	width: 95%;
	border:none;
	box-shadow: 1px 1px 2px 2px grey;
	background-color: #FBFBFB;
	font-size: 0.8rem;
	font-family: 'Source Sans Pro', sans-serif;
	padding-left: 1rem;
	letter-spacing: 0.25rem;
}
.message textarea{
	margin-top: 1rem;
	width: 98%;
	border:none;
	box-shadow: 1px 1px 2px 2px grey;
	background-color: #FBFBFB;
	font-size: 0.8rem;
	font-family: 'Source Sans Pro', sans-serif;
	padding-left: 1rem;
	letter-spacing: 0.25rem;
}
.contact-btn{
	background-color: #0E225F;
	color: white;
	padding:1rem 3.5rem;
	font-family: 'Source Sans Pro', sans-serif;
	border-radius: 0.5rem;
	margin-top: 1rem;
	border:none;
	margin-bottom: 5rem;
}
/*...........................................contact-links.................*/
.contact-links{
	background-color: #0E225F;
	padding: 3rem 5rem;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
}
.col1 h2{
	font-size: 2rem;
	line-height: 2rem;
	font-weight: 600;
	margin-bottom: 1rem;
}
.col1 span{
	color: #7E787E;
	font-size: 0.8rem;
	margin-left: 0.5rem;
}
.col1 h3{
	margin: 1rem 0;
}
.col2 h2, .col3 h2, .col4 h2{
	font-size:1rem;
	font-weight: 600;
	font-family: 'Fira Sans', sans-serif;
	letter-spacing: 2px;
	margin-bottom: 1rem;
}
.col2, .col4{
	text-align: center;
}
.col2 li, .col4 li{
	margin: 1.5rem 0;
}
.col2 a, .col4 a{
	text-decoration: none;
	color: #7E787E;
}
.col3 input{
	height: 2rem;
}
.col3 p{
	padding-top: 1rem;
	color: #7E787E;
	width: 70%;
}
.fb-icon, .rss-icon, .twitter-icon{
	color: white;
	padding: 0.7rem;
	border-radius: 50%;
	font-size: 1rem;
	background: blue;
	margin-top: 1rem;
}
.twitter-icon, .rss-icon{
	margin-left: 0.5rem;
}
.rss-icon{
	background: red;
}
.input-With_Icon{

}
.input-With-Icon i{
	font-size: 1.5rem;
}
.icon-bg{
	color: white;
	border: 1px solid white;
	background: #0E225F;
	padding-top: 0.5rem;
	padding-right: 1rem;
	padding-left: 1rem;
}
.arrow-up i{
	font-size: 1.5rem;
	margin-top: 5rem;
	margin-bottom: 1rem;
	color: white;
	text-align: center;
	/*margin-left: 10rem;*/
}
.arrow-up i::hover{
	color: red;
}
/*................................................footer..........................*/
.footer{
	background-color: black;
	text-align: center;
	padding: 2rem 0;
	font-family: 'Source Sans Pro', sans-serif;
}
.footer p{
	color: white;
}
.footer span{
	color: #E8512E;
}
/*...........................gallery-section.............................*/
.gallery-section img, .blog-section img{
	width: 100%;
}
.gallery-section{
	margin-bottom: 3rem;
}
/*.....................................blog-section..............................*/

.col{
	background-color: #F5F5F5;
	margin: 2rem 1rem;
	padding: 2rem 2rem;
}
.col h2{
	color: black;
	font-size: 2rem;
	font-weight: 600;
	margin-top: 2rem;
}
.col p{
	color: #A79F98;
	margin: 1rem 0;
}
.col button{
	background-color: #0E225F;
	padding: 0.5rem 1rem;
	color: white;
	border:none;
}
.eye-icon{
	margin-top: 0.5rem;
	margin-left: 10rem;
}

/*..............................................contact-responsive..................*/
@media all and (max-width: 500px){
	.name, .email, .message{
		grid-template-columns: 1fr;
		margin:1rem;
		width: 100%;
	}
}